body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3a60b7;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 200px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.service {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

footer {
    background-color: #3a60b7;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
